.container {
    display: grid;

    width: 100%;
    max-width: var(--max-post-width);

    background-color: #ECF1F1;
    border-radius: 8px;
    padding: 0px;
    margin-bottom: 20px;

    position: relative;
    z-index: 200;
}

.containerFull {
    grid-template-rows: auto;
}

.containerSplit {
    grid-template-rows: 50% 50%;
}

.inputTextArea {
    resize: none;
    background-color: #FAFAFA;
    border-width: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.inputTextArea:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btnRow {
    display: grid;
    grid-template-columns: [charCount] 33% [centerIcon] 33% [postButton];
    grid-template-rows: max-content;
    align-items: center;

    padding: .4em;
}

.centerIcon {
    grid-column-start: centerIcon;
    justify-self: center;
    opacity: 1;
}

.centerIcon:hover {
    cursor: pointer;
}

.charCount {
    grid-column-start: charCount;
    justify-self: left;
    margin-left: 10px;
    color: #A2A2A2;
    opacity: 0;
}

.postBtn {
    grid-column-start: postButton;
    justify-self: right;
    width: 2em;
    height: 2em;
    opacity: 0;
}

.postBtn:hover {
    cursor: pointer;
}

.postBtnEnter {
    opacity: 0;
    transform: translateY(-10%);
}

.postBtnEnterActive {
    opacity: 1;
    transform: translateY(0%);
    transition: transform 300ms, opacity 300ms;
}

.postBtnVisible {
    opacity: 1;
}

.postBtnExit {
    opacity: 1;
    transform: translateY(0%);
}

.postBtnExitActive {
    opacity: 0;
    transform: translateY(-10%);
    transition: transform 300ms, opacity 300ms;
}

.postBtnHidden {
    opacity: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.25);
    width: 100%;
    height: 100%;
    z-index: 100;
}