@import '../../styles/main';

.container {

    @extend %card;
    @extend %card-sizing;

    min-height: auto;
    padding: 0;

    position: relative;
    z-index: 200;

}

.inputTextArea {
    resize: none;
    background-color: #fafafa;
    border-width: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.inputTextArea:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btnRow {
    display: grid;
    grid-template-columns: [charCount] 33% [centerIcon] 33% [postButton];
    grid-template-rows: max-content;
    align-items: center;

    font-size: $base-font-size-sm;
    cursor: text;
    padding: .4em;
}

.centerIcon {
    grid-column-start: centerIcon;
    justify-self: center;
    opacity: 1;
}

.charCount {
    grid-column-start: charCount;
    justify-self: left;
    margin-left: 10px;
    color: $color-grey-2;
    opacity: 0;
}

.postBtn {
    grid-column-start: postButton;
    justify-self: right;
    color: $color-blue-2;
    width: 2em;
    height: 2em;
    opacity: 0;

    &Enter {
        opacity: 0;
        transform: translateY(-10%);
    }

    &EnterActive {
        opacity: 1;
        transform: translateY(0%);
        transition: transform 300ms, opacity 300ms;
    }

    &Visible {
        opacity: 1;
    }

    &Visible, &EnterActive {
        &:hover {
            cursor: pointer;
        }
    }

    &Exit {
        opacity: 1;
        transform: translateY(0%);
    }

    &ExitActive {
        opacity: 0;
        transform: translateY(-10%);
        transition: transform 300ms, opacity 300ms;
    }

    &Hidden {
        opacity: 0;
    }
}