@import '../../styles/main';

.container {
    display: grid;
    grid-template-rows: max-content max-content $userfeed-bottom-margin;
    
    max-width: $post-max-width;
    width: 100%;
}

.postList {
    display: grid;
    grid-gap: $post-gap;
    padding-bottom: 1em;
}

.footer {
    justify-self: center;
    align-self: center;
}

.newPostEntering {
    opacity: 0;
    background-color: $color-blue-3;
    transform: translateY(-100%);
}

.newPostActive {
    opacity: 1;
    transform: translateY(0%);
    background-color: $color-grey-1;
    transition: background-color 350ms, transform 200ms, opacity 500ms;
}

.postEntering {
    opacity: 0;
    transform: translateY(50%);
}

.postActive {
    opacity: 1;
    transform: translateY(0%);
    transition: transform 200ms, opacity 500ms;
}