.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content auto;
}

.content {
    display: grid;
    
    grid-template-rows: auto;
    padding-top: 2em;
    grid-gap: 1.3em;
}

.contentRegularSize {
    grid-template-columns: 25% [feed] 40% [feed-end] 15%;
    justify-content: center;
}

.userFeed {
    display: grid;
    grid-template-rows: max-content max-content;
}

.userFeedRegularSize {
    width: 100%;
    grid-column-start: feed;
}

@media (max-width:700px){
    .contentSmallSize {
        grid-template-columns: [feed] 100% [feed-end];
        justify-items: center
    }
    .userFeedSmallSize {
        display: grid;
        grid-column-start: feed;
        width: 80%;
        justify-items: center;
    }
}

.sidePanels {
    display: grid;
    grid-template-rows: max-content max-content;
    grid-gap: 1em;
}