@import "../../styles/main.scss";

.container {
    display: grid;
    grid-template-rows: max-content auto max-content;
    
    font-size: $base-font-size;
    padding: $post-padding;

    width: 100%;
    max-width: $post-max-width;
    min-height: $post-min-height;
    max-height: $post-max-height;

    background-color: $color-grey-1;
    border-radius: $card-radius;
}

.headerRow {
    display: grid;
    grid-template-columns: [userImage] max-content [name] auto [time] max-content;
    align-items: center;
}

.contentRow {
    padding: .75em 0 2em 0;
}

.footerRow {
    display: grid; 
    grid-template-columns: 1% [likes] max-content auto [shares] max-content auto [replies] max-content 30%;
    align-items: center;
    color: $color-grey-2;
    font-size: $base-font-size-sm;
}

.footerRow > span {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
}

.footerRow > span > span:nth-child(2) {
    margin-left: .5em;
}

.footerIcon {
    font-size: 1.2em;
}

.likesDisplay {
    grid-area: likes;
}

.sharesDisplay {
    grid-area: shares;
}

.repliesDisplay {
    grid-area: replies;
}

.userImageDisplay {
    grid-area: userImage;
    border-radius: $circle-image-radius;
    width: $post-avatar-width;
    height: $post-avatar-height;
}

.nameDisplay {
    grid-area: name;
    font-weight: 500;
    margin-left: .5em;
}

.timeDisplay {
    grid-area: time;
    color: $color-grey-2;
    font-size: $base-font-size-sm;
}

.userHandle {
    font-weight: normal;
    color: $color-grey-2;
}



