@import "../../styles/main.scss";

.container {

    @extend %card;
    @extend %card-sizing;
    @extend %card-padding;

    display: grid;
    grid-template-rows: max-content auto max-content;
}

.headerRow {
    display: grid;
    grid-template-columns: [userImage] max-content [name] auto [time] max-content;
    align-items: center;
}

.contentRow {
    padding: .75em 0 2em 0;
}

.footerRow {
    display: grid; 
    grid-template-columns: 1% [likes] max-content auto [shares] max-content auto [replies] max-content 30%;
    align-items: center;
    color: $color-grey-2;
    font-size: $base-font-size-sm;
}

.footerRow > span {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
}

.footerRow > span > span:nth-child(2) {
    margin-left: .5em;
}

.footerIcon {
    font-size: 1.2em;
}

.likesDisplay {
    grid-area: likes;
}

.sharesDisplay {
    grid-area: shares;
}

.repliesDisplay {
    grid-area: replies;
}

.userImageDisplay {
    @extend %round-image;
    grid-area: userImage;
    width: $post-avatar-width;
    height: $post-avatar-height;
}

.nameDisplay {
    grid-area: name;
    font-weight: 500;
    margin-left: .5em;
}

.timeDisplay {
    grid-area: time;
    color: $color-grey-2;
    font-size: $base-font-size-sm;
}

.userHandle {
    font-weight: normal;
    color: $color-grey-2;
}

