@import '../../styles/main.scss';

.container {
    display: grid;
    $grid-value: max-content auto;

    &Panel {
        @extend .container;
        grid-template-rows: $grid-value;
    }
    &Banner {
        @extend .container;
        grid-template-columns: $grid-value;
        align-items: end;
        margin-bottom: $card-gap;
    }
}

.profileImage {
    @extend %round-image;
    &Panel {
        @extend .profileImage;
        max-width: $panel-profile-max-width;
        max-height: $panel-profile-max-height;
    }
    &Banner {
        @extend .profileImage;
        max-width: 100px;
        max-height: 100px;
    }
}

.infoSection {
    &Banner {
        margin-left: 10px;
        padding-right: 20px;
    }
}

.userHandle {
    font-size: $base-font-size-sm;
    color: $color-grey-2;
    margin-top: -1em;
}

.userBio {
    &Panel {
        margin-top: .45em;
    }
}