@import '../../styles/main.scss';

.container {
    display: grid;
    background-color: $color-blue-1;
    color: $color-white;
    padding: .45em;

    justify-content: center;
    grid-template-columns: 25% 35% 20%;

    @media all and (max-width:700px) {
        justify-content: left;
        grid-template-columns: 25% 50% 25%;
    }
}  

.logo {
    justify-self: center;
    font-weight: bold;
    margin-bottom: 0;

    &:hover {
        cursor: pointer;
    }
}

.search {
    width: 100%;
}

.userActions {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-self: right;
    align-items: center;

    @media all and (max-width:700px){
        margin-right: 10%;
    }
}

.userActions > span:not(:first-child) {
    margin-left: .97em;
}