@charset 'utf-8';

$base-font-size: 16px;
$base-font-size-sm: 14px;

$h1-font-size: 28px;
$h2-font-size: 24px;
$h3-font-size: 20px;
$h4-font-size: 16px;

$color-white: #ffffff;

$color-grey-1: #ecf1f1;
$color-grey-2: #999999;

$color-blue-1: #709ad8;
$color-blue-2: #3771c8;
$color-blue-3: #84aeee;

$circle-image-radius: 400px;

$card-radius: 8px;

$panel-profile-max-width: 200px;
$panel-profile-max-height: 200px;

$post-gap: 20px;
$post-padding: .97em;
$post-max-width: 31.25em;
$post-min-height: 10.93em;
$post-max-height: 22em; 
$post-avatar-width: 2.5em;
$post-avatar-height: 2.5em;

$userfeed-bottom-margin: 14em;
